### Exercise 1: From the given dataset print the first and last five rows

In [7]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Cars.csv')
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Exercise 2: Clean the dataset and update the CSV file

**Hint:** Replace all column values which contain **`?`**, **`n.a`**, or **`NaN`**.

In [10]:
# df.count()
c=df['price'].isna()
c

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Name: price, Length: 61, dtype: bool

### Exercise 3: Find the most expensive car company name

Print most expensive car’s company name and price.

### Exercise 4: Print All Toyota Cars details

### Exercise 5: Count total cars per company

### Exercise 6: Find each company’s Higesht price car

### Exercise 7: Find the average mileage of each car making company

### Exercise 8: Sort all cars by Price column

### Exercise 9: Concatenate two data frames using the following conditions

**Hint:** Create two data frames using the following two dictionaries

In [ ]:
import pandas as pd

GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
carsDf1 = pd.DataFrame.from_dict(GermanCars)

japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
carsDf2 = pd.DataFrame.from_dict(japaneseCars)

carsDf = #Complete the Code here!

### Exercise 10: Merge two data frames using the following condition

**Hint:** Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

In [ ]:
import pandas as pd

Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
carPriceDf = pd.DataFrame.from_dict(Car_Price)

car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}
carsHorsepowerDf = pd.DataFrame.from_dict(car_Horsepower)

carsDf = #Complete the Code here!