In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("Flavor_Rating.csv")
data

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [7]:
data.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [9]:
data.groupby('Base Flavor')['Flavor Rating'].sum()

Base Flavor
Chocolate    25.2
Vanilla      34.2
Name: Flavor Rating, dtype: float64

In [16]:
d1=data.groupby('Base Flavor')['Flavor Rating'].max()
d1

Base Flavor
Chocolate     8.8
Vanilla      10.0
Name: Flavor Rating, dtype: float64

In [21]:
data.groupby('Base Flavor')['Total Rating'].min()

Base Flavor
Chocolate    15.2
Vanilla       5.7
Name: Total Rating, dtype: float64

In [23]:
data.groupby(['Base Flavor','Liked']).agg({'Flavor Rating': ['mean', 'sum', 'count'],'Texture Rating': ['mean', 'sum', 'count'],
'Total Rating': ['mean', 'sum', 'count']})

                  Flavor Rating             Texture Rating              \
                           mean   sum count           mean   sum count
Base Flavor Liked
Chocolate   Yes             8.4  25.2     3       7.233333  21.7     3
Vanilla     No              3.6  10.8     3       4.466667  13.4     3
            Yes             7.8  23.4     3       6.833333  20.5     3

                  Total Rating
                          mean   sum count
Base Flavor Liked
Chocolate   Yes      15.700000  47.1     3
Vanilla     No        8.066667  24.2     3
            Yes      14.633333  43.9     3

In [25]:
books = [
    {"title": "Infinite Jest", "rating": 4.5, "genre": "Fiction"},
    {"title": "A Brief History of Time", "rating": 4.8, "genre": "Science"},
    {"title": "The Catcher in the Rye", "rating": 3.9, "genre": "Fiction"},
    {"title": "Sapiens", "rating": 4.9, "genre": "History"},
    {"title": "Clean Code", "rating": 4.7, "genre": "Technology"},
]
 # we need title of book which have >4.2 rating

In [26]:
books[0]

{'title': 'Infinite Jest', 'rating': 4.5, 'genre': 'Fiction'}

In [34]:
for i in books:
    if i["rating"]>4.5:
        print(i["title"])

A Brief History of Time
Sapiens
Clean Code

In [37]:
[book['title'] for book in books if book['rating'] > 4.5]

['A Brief History of Time', 'Sapiens', 'Clean Code']

In [42]:
products = { "id": 1, "name": "Laptop", "price": 1000 },
{ "id": 2, "name": "Phone", "price": 500 },
{ "id": 3, "name": "Tablet", "price": 700 }

{'id': 3, 'name': 'Tablet', 'price': 700}